<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problem tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    

</head>
<body style="background-color: bisque;">
    <div class="container my-5">
        <nav  aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center bg-body-tertiary border rounded-3" style="background-color: violet;">
            <li  class="breadcrumb-item">
              <a class="link-body-emphasis fw-semibold text-decoration-none" href="/home">
                <svg class="bi" width="16" height="16"><use xlink:href="#house-door-fill"></use></svg>
                Home
              </a>
            </li>
            <li  class="breadcrumb-item">
              <a class="link-body-emphasis fw-semibold text-decoration-none" href="/info">Info</a>
            </li>
            <li  class="breadcrumb-item ">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="/contact">Contact</a>
            </li>
          </ol>
        </nav>
      </div>