<%- include('partials/header') %>



<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img src="Images/Davide.jpeg" alt="Luca Sfia Davide" style="border: 5px solid black; object-fit: cover; object-position: top center;" class="rounded-circle" width="140" height="140">
        <h2 class="fw-normal">Luca Sfia Davide</h2>
        <p>Email:davide.luca-sfia@student.upt.ro</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="Images/Nicu.jpeg" alt="Balatici Nicolae" style="border: 5px solid black; object-fit: cover; object-position: top center;" class="rounded-circle" width="140" height="140">
        <h2 class="fw-normal">Balatici Nicolae</h2>
        <p>Email:nicolae.balatici@student.upt.ro</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="Images/Radu.jpeg" alt="Ponorean Radu" style="border: 5px solid black; object-fit: cover; object-position: top center;" class="rounded-circle" width="140" height="140">
        <h2 class="fw-normal">Ponorean Radu</h2>
        <p>Email:radu.ponorean@student.upt.ro</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="Images/Petre.jpeg" alt="Barboi Petre" style="border: 5px solid black; object-fit: cover; object-position: top center;" class="rounded-circle" width="140" height="140">
        <h2 class="fw-normal">Barboi Petre</h2>
        <p>Email:petre,barboi@student.upt.ro</p>
      </div>
      <div class="col-lg-4">
        <img src="/Images/Claudiu.jpeg" alt="Pupaza Claudiu" style="border: 5px solid black; object-fit: cover; object-position: top center;" class="rounded-circle" width="140" height="140">
        <h2 class="fw-normal">Pupaza Claudiu</h2>
        <p>Email: ionut.pupaza@student.upt.ro
           
        </p>
      </div>
    </div>










<%- include('partials/footer') %>